body {
  font: 12px sans-serif;
  margin: 16px;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  padding: 8px;
}

input:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input:focus {
  border: 1px solid #18a0fb;
}

.SearchBox {
  width: 100%;
}

.NodeList {
  list-style: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.NodeList li {
  border-radius: 4px;
  padding: 8px 12px;
}

.NodeList li:hover {
  background: #d7effe;
}

.NodeList .FrameName {
}

.NodeList .PageName {
  margin-left: 1em;
  color: rgba(0, 0, 0, 0.4);
}
