@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Jump {
  font: 12px sans-serif;
  padding: $space-large;
  color: $color-text;
}

.SearchBox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: $space-large;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);

  &Input {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    outline: none;
    padding: $space-small;

    &:hover {
      border: 1px solid $color-border-active;
    }

    &:focus {
      border: 1px solid $color-primary;
    }
  }
}

.NodeList {
  list-style: none;
  text-align: left;
  cursor: pointer;
  margin-top: 52px;
}

.NodeListItem {
  border-radius: $border-radius;
  padding: $space-small $space-medium;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: $color-secondary;
  }

  &_pageName {
    margin-left: $space-medium;
    color: $color-text-light;
  }

  &.active,
  &.active:hover {
    background-color: $color-primary;
    color: rgba(255, 255, 255, 1);
  }

  &.active &_pageName {
    color: rgba(255, 255, 255, 0.75);
  }
}
