$color-primary: #4aa0fb;
$color-secondary: #d7effe;

$color-border: rgba(0, 0, 0, 0.1);
$color-border-active: rgba(0, 0, 0, 0.15);

$color-text: rgba(0, 0, 0, 0.9);
$color-text-light: rgba(0, 0, 0, 0.4);

$space-small: 8px;
$space-medium: 12px;
$space-large: 16px;

$border-radius: 4px;
